
input[type='text'].completed{
    text-decoration: line-through 4px;
    text-decoration-color: rgb(0, 204, 255);
    text-decoration-style: solid;

}
.not:hover{
    color:rgba(0,0,0,0.3);
}
.not:active{

        background-color: rgb(134, 134, 134);
}



button.not{
    color:rgba(0,0,0,0);
} 

.not{ text-decoration: none;}

.rainbow{
    animation: rainbow 25s infinite;
}

@keyframes rainbow {
    0% {
        color: red;
    }
    12.55% {
        color: orange;
    }
    25% {
        color: yellow;
    }
    37.5% {
        color: rgb(2, 216, 109);
    }
    50% {
        color: blue;
    }
    62.5% {
        color:rgb(2, 216, 109);
    }
    75% {
        color: yellow;
    }
    87.5% {
        color: orange;
    }
    100%{
        color:red;
    }

}

body {
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab,  #23d558,  #e40fc0,  #ffffff,#000000);
	background-size: 500% 500%;
	animation: gradient 40s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

::-webkit-scrollbar {
    width: max(10px,1.15vw);
    height: 0px;
  }

  ::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
    border-bottom-right-radius: 100vw;
    border-bottom-left-radius: 100vw;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(60, 91, 194);
    
  }

  .delBtn{
    min-width:30px;
    width:50%;
    background-image: url('delbtn.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    border: 1px solid black;
  }

  .delBtn:hover{
    background-color: rgb(109, 107, 107);
  }
  .delBtn:active{
    background-color: rgb(27, 27, 27);
  }

  .delBtn2{
    background-image: url('delbtn.png'); 
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    border: 1px solid black;
    
  }

  .editBtn{
    min-width:30px;
    width:50%;
     padding:2px 5px 2px 5px; 
      background-image: url('editbtn.png'); 
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
     background-color: white;
    text-align:center;
    box-sizing:border-box;
    font-weight: bold;
    border: 1px solid black;
  }

  .editBtn:hover{
    background-color: #a3a1a1;
}
.editBtn:active{
    background-color: #2b2b2b;
}

  .datebtn{
  height:27px;
  width:47vw;
  min-width:110px;
   max-width: 400px;
    }

.datebtn2{
  height:27px;
  font-size: 60%;
          }


.tasktxtdiv
{
    width:38%;
   margin-right:5px;
}

#search:active{
    background-color: rgb(59, 57, 57);
}
#submit1:active{
    background-color: rgb(59, 57, 57);
}
#datePickerId:hover{
    background-color: #383838;
    color: #23a6d5;
}
#Priority:hover{
    background-color: #252525;
    color: white;
}

.dropdown:hover{
    background-color: #2c2b2b;
    color: whitesmoke;
}