:root {
    font-family: 'Finlandica', 'Ubuntu', 'Segoe UI', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: linear-gradient(
        -90deg,
        #ee7752,
        #e73c7e,
        #23a6d5,
        #23d5ab,
        #23d558,
        #e40fc0,
        #ffffff,
        #000000
    );
    background-size: 400% 400%;
    animation: gradient 50s ease infinite;
    height: 100vh;
}

#todo-creation-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

input[type="text"].completed {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-style: wavy;
}

.not:hover {
    color: rgba(0, 0, 0, 0.3);
}

button.not {
    color: rgba(0, 0, 0, 0);
}

.not {
    text-decoration: none;
}

.rainbow {
    text-align: center;
    animation: rainbow 25s infinite;
}

@keyframes rainbow {
    0% {
        color: #ffffff;
    }
    14.2857% {
        color: #000000;
    }
    28.5714% {
        color: #0fe433;
    }
    42.8571% {
        color: #d523a0;
    }
    57.0428% {
        color: #d5234d;
    }
    71.3285% {
        color: #d55223;
    }
    85.6142% {
        color: #3ce7a5;
    }
    100% {
        color: #52c9ee;
    }   
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
